<footer class="footer mt-5">
  <div class="container py-5">
    <div class="row">
      <!-- Column 1 -->
      <div class="col-6 col-md-3 mb-4">
        <h6>About</h6>
        <ul>
          <li><a href="#">How Airbnb works</a></li>
          <li><a href="#">Newsroom</a></li>
          <li><a href="#">Investors</a></li>
          <li><a href="#">Airbnb Plus</a></li>
        </ul>
      </div>

      <!-- Column 2 -->
      <div class="col-6 col-md-3 mb-4">
        <h6>Community</h6>
        <ul>
          <li><a href="#">Diversity & Belonging</a></li>
          <li><a href="#">Accessibility</a></li>
          <li><a href="#">Invite friends</a></li>
        </ul>
      </div>

      <!-- Column 3 -->
      <div class="col-6 col-md-3 mb-4">
        <h6>Hosting</h6>
        <ul>
          <li><a href="#">Try hosting</a></li>
          <li><a href="#">AirCover</a></li>
          <li><a href="#">Hosting resources</a></li>
        </ul>
      </div>

      <!-- Column 4 -->
      <div class="col-6 col-md-3 mb-4">
        <h6>Support</h6>
        <ul>
          <li><a href="#">Help Centre</a></li>
          <li><a href="#">Cancellation options</a></li>
          <li><a href="#">Neighbourhood Support</a></li>
        </ul>
      </div>
    </div>

    <!-- Bottom bar -->
    <div class="footer-bottom d-flex flex-column flex-md-row justify-content-between align-items-center pt-4 mt-4 border-top">
      <p class="mb-2 mb-md-0">© 2025 Airbnb, Inc.</p>
      <div class="footer-links">
        <a href="#">Privacy</a>
        <a href="#">Terms</a>
        <a href="#">Sitemap</a>
      </div>
    </div>
  </div>
</footer>
